img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html,
body {
  @include pages-font-settings;
  min-width: 320px;
}

input::-webkit-input-placeholder {
  @include form-field-font-settings;
  opacity: 1;
}

input::-moz-placeholder          {
  @include form-field-font-settings;
  opacity: 1;
}

input:-moz-placeholder           {
  @include form-field-font-settings;
  opacity: 1;
}

input:-ms-input-placeholder      {
  @include form-field-font-settings;
  opacity: 1;
}

textarea::-webkit-input-placeholder {
  @include form-field-font-settings;
  opacity: 1;
}

textarea::-moz-placeholder          {
  @include form-field-font-settings;
  opacity: 1;
}

textarea:-moz-placeholder           {
  @include form-field-font-settings;
  opacity: 1;
}

textarea:-ms-input-placeholder      {
  @include form-field-font-settings;
  opacity: 1;
}

