$gl1-color: green;
$gl2-color: red;
$gl3-color: black;
$gl4-color: blue;

$pages-text-color: #283645;

$form-group-color-grey: #f2f2f2;
$form-label-color-pink: #d22856;
$form-field-color-gray: #e5e5e5;

$button-color: #2aab6d;
