.content-description {

  &__wrapper {
    @include content-wrapper-mobile;
  }

  &__text {
    padding: 31px 0 20px 0;
    text-align: center;

    span {
      display: none;
    }
  }

  &--photo-page {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    // .content-description__wrapper {
    //   padding: 0 35px;
    // }
  }

  @media #{$tablet-width} {
    &__wrapper {
      @include content-wrapper-tablet;
    }

    &__text {
      font-size: 18px;
      padding: 74px 60px 17px 60px;

      span {
        display: block;
      }
    }

    &--photo-page {
      margin-bottom: 41px;
    }
  }

  @media #{$desktop-width} {
    &__wrapper {
      @include content-wrapper-desktop;
    }

    &__text {
      padding: 74px 80px 17px 80px;

      span {
        display: inline-block;
      }
    }

    &--photo-page {
      margin-bottom: 53px;

      .content-description__text {
        padding: 74px 150px 17px 150px;
      }
    }
  }
}
