.page-main {
  position: relative;
  z-index: 0;
}

.logo {
  font-size: 0;
  display: block;
  width: 76px;
  height: 24px;
  background: url(../img/logo-pink-white-mobile.svg) no-repeat;
  background-size: 100% 100%;

  &--extended {
    background: url(../img/logo-pink-blue-mobile.svg) no-repeat;
    background-size: 147px 40px;
    width: 147px;
    height: 40px;
  }

  @media #{$tablet-width} {
    background: url(../img/logo-pink-blue-mobile.svg) no-repeat;
    background-size: 147px 40px;
    width: 147px;
    height: 40px;
  }
}

.social-links {
  width: 177px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__btn {
    box-sizing: border-box;
    font-size: 0;
    width: 51px;
    height: 51px;
    border: 3px solid $form-field-color-gray;
    border-radius: 50%;

    &--twitter {
      background: url(../img/icon-twitter.svg) no-repeat 50% 50%;

    }

    &--facebook {
      background: url(../img/icon-facebook.svg) no-repeat 50% 50%;
    }

    &--you-tube {
      background: url(../img/icon-youtube.svg) no-repeat 50% 50%;
    }
  }

  @media #{$tablet-width} {
    padding-top: 15px;
    padding-right: 16px;
  }

  @media #{$desktop-width} {
    padding-top: 21px;
    padding-left: 28px;
  }
}

.button {
  @include reset-button-style;
  @include form-field-font-settings;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  background-color: $button-color;
  width: 100%;
  height: 63px;
  border-radius: 2px;

  @media #{$tablet-width} {
    &--send-form {
      width: 94%;
    }
  }

  @media #{$desktop-width} {
    &--send-form {
      width: 47%;
    }
  }
}

.popup {
  display: block;
  box-sizing: border-box;
  width: 320px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  // outline: 1px solid violet;
  padding: 40px 0 0 0;
  background-color: #fff;
  box-shadow: 0px 7px 30px -5px rgba(0,1,1,0.3);

  &__wrapper {
    @include content-wrapper-mobile;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
  }

  &__btn-wrapper {
    padding: 24px 20px 51px 20px;
  }

  &__description {
    margin-top: 26px;
    // margin-bottom: 5px;
  }

  &--wrong {
    position: absolute;
    top: 1166px;
  }

  &--success {
    position: absolute;
    top: 1640px;

    .popup__description {
      padding: 0 7px;

      span {
        display: block;
      }
    }

    .popup__btn-wrapper {
      background-color: $pages-color-gray;
      margin-top: 30px;
      padding: 49px 20px 52px 20px;
    }
  }

  @media #{$tablet-width} {
    box-sizing: border-box;
    width: 460px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    padding-top: 36px;
    border-radius: 5px;

    &__wrapper {
      padding: 0 70px;
    }

    &__title {
      font-size: 30px;
      line-height: 40px;
    }

    &__description {
      font-size: 18px;
      line-height: 24px;
      margin-top: 21px;
    }

    &__btn-wrapper {
      padding: 21px 80px 52px 80px;
    }

    &--wrong {
      top: 910px;
    }

    &--success {
      top: 1383px;

      .popup__description {
        margin-top: 22px;
        margin-bottom: 34px;
        span {
          display: inline-block;
        }
      }

      .popup__btn-wrapper {
        padding: 48px 80px 52px 80px;
      }
    }
  }

  @media #{$desktop-width} {
    &--wrong {
      top: 823px;
    }

    &--success {
      width: 780px;
      top: 1275px;
      padding-top: 40px;

      .popup__wrapper {
        padding: 0 190px;
      }

      .popup__description {
        margin-bottom: 39px;
      }

      .popup__btn-wrapper {
        padding: 48px 160px 52px 160px;
      }
    }
  }
}

.like-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: $pages-text-color-pink;
  font-size: 0;

  &__label {
    margin-right: 3px;
    font-size: 12px;
  }

  &__count{
    font-size: 12px;
  }

  &__btn {
    @include reset-button-style;
    box-sizing: border-box;
    width: 15px;
    height: 13px;
    background: url(../img/icon-heart.svg) no-repeat 50% 50%;
    background-size: 14px 12px;
    margin-right: 17px;
  }
}

.range-controls {
  display: block;
  position: relative;
  &__scale {

    width: 100%;
    height: 2px;
    background-color: $page-color-dark-blue;
  }

  &__toggle {
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateY(-50%);
    background-color: $pages-color-gray;
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid $pages-text-color-pink;
    border-radius: 50%;
  }
}

.transparent-btn {
  @include reset-button-style;
  @include reset-link-style
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px/27.5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;

  border: 3px solid $pages-text-color-pink;
  color: $pages-text-color-pink;
    // &:hover {
    //   background-color: $pages-text-color-pink;
    //   color: white;
    // }

    // &:active {
    //   color: #e06989;
    // }

    // &:focus {
    //   outline: none;
    // }

    &--gray {
      color: $cansel-btn-color-dark-gray;
      border-color: $cansel-btn-color-dark-gray;

      // &:hover {
      //   background-color: $cansel-btn-color-gray;
      //   color: $cansel-btn-color-darkest-gray;
      //   border-color: $cansel-btn-color-darkest-gray;
      // }

      // &:active {
      //   background-color: $cansel-btn-color-darkest-gray;
      //   color: $cansel-btn-color-dark-gray;
      //   border-color: $cansel-btn-color-darkest-gray;
      // }
    }

    &--white {
      color: white;
      border-color: white;
    }
  }


  .store-links {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin: 30px auto;

    &__link {
      width: 60px;
      height: 60px;

      &--apple {
        background: url(../img/logo-apple.svg) 50% 50% no-repeat;
      }

      &--android {
        background: url(../img/logo-android.svg) 50% 50% no-repeat;
      }

      &--microsoft {
        background: url(../img/logo-microsoft.svg) 50% 50% no-repeat;
      }
    }
  }

  .offer-block {
    padding: 11px 0 4px 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    text-align: center;

    &__wrapper {
      @include content-wrapper-mobile;
    }

    &__caption {
     margin: 29px 0;
   }

   @media #{$tablet-width} {
    padding: 49px 0 47px 0;
    font-size: 40px;
    line-height: 48px;

    &__wrapper {
      @include content-wrapper-tablet;
    }

    &__caption {
      margin: 0 auto;

      &:nth-child(2) {
        width: 400px;
      }
      p {
        margin: 0;
      }
    }
  }

  @media #{$desktop-width} {
    padding: 67px 0 76px 0;
    font-size: 50px;
    line-height: 60px;

    &__wrapper {
      @include content-wrapper-desktop;
    }

    &__caption {

      &:nth-child(2) {
        width: 500px;
      }
    }
  }
}

.tell {
  padding-bottom: 20px;
  text-align: center;
  line-height: 24px;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }

  &__text {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
}

.map {
  position: relative;
  height: 200px;
  // background-color: red;
  // background:
  // url(../img/bg-triangle-white-footer.svg) no-repeat 50% 0,
  // url(../img/bg-map.png) no-repeat 0 0;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 30px;
    background-image:
    linear-gradient(
      to top right,
      transparent 50%,
      white 50%),
    linear-gradient(
      to top left,
      transparent 50%,
      white 50%);

    background-size: 50.1% 100%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
  }

  @media #{$tablet-width} {
    height: 380px;
    &::after {
      height: 70px;
    }
  }

  @media #{$desktop-width} {
    height: 500px;
    &::after {
      height: 105px;
    }
  }
}

.research {
  background-color: violet;
  display: none;
  padding: 60px 0;

  @media #{$tablet-width} {
    display: block;

    &__wrapper {
      @include content-wrapper-tablet;
      padding-left: 50%;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
    }

    &__link {
      color: $pages-text-color-pink;
    }
  }

  @media #{$desktop-width} {
    background-color: $pages-color-gray;
  }
}

.comment {
  text-align: center;
  padding-bottom: 20px;

  &__title {
    margin: 0;
    padding: 0;
  }

  &__author {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
  }

  &__author-information {
    display: none;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 30px;

    p {
      margin: 13px 0;
    }
  }

  @media #{$tablet-width} {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 34px;

    &__author {
      display: block;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 2px;
    }

    &__author-information {
      display: block;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 22px;
    }
  }

  @media #{$desktop-width} {
    padding-top: 112px;
    padding-bottom: 22px;
    position: relative;

    &__text {
      span {
        display: none;
      }
    }

    &__author {
      font-size: 24px;
    }

    &__author-information {
      font-size: 18px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 80px;
      height: 65px;
      border: 1px solid black;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);

    }
  }
}

.posts-list {

  &__wrapper {
    padding: 0 20px;
  }

  @media #{$tablet-width} {
    &__wrapper {
      @include content-wrapper-tablet;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      // align-content: stretch;
    }
  }

  @media #{$desktop-width} {
    &__wrapper {
      padding: 0 130px;
      // align-content: stretch;
    }
  }
}
