.contacts-block {
  text-align: center;
  font-weight: 300;
  padding-top: 18px;

  &__wrapper {
    @include content-wrapper-mobile;
  }

  &__header {
    font-size: 24px;
    line-height: 29px;
    margin: 0 auto 31px auto;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
  }

  &__contact-title {
    display: block;
    font-size: 18px;
    font-weight: 700;
  }

  &__contact-address {
    display: block;
    @include reset-link-style;
    font-size: 24px;
    color: $form-label-color-pink;
  }

  &__contact {
    margin-bottom: 18px;

    &--email {
      .contacts-block__contact-address {
        &:hover {
          color: $pages-text-color;
          text-decoration: underline;
        }

        &:active {
          color: transparentize($pages-text-color, 0.7);
          text-decoration: none;
        }
      }
    }
  }

  @media #{$tablet-width} {
    padding-top: 6px;

    &__wrapper {
      @include content-wrapper-tablet;
      padding: 0;
    }

    &__contacts {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    &__header {
      font-size: 40px;
      line-height: 48px;
      width: 400px;
      margin: 0 auto;
    }

    &__contact {
      width: 320px;
      padding-bottom: 26px;

      &:last-of-type {
        width: 250px;
        padding-bottom: 0;
        margin-bottom: 8px;
      }
    }

    &__contact-address {
      padding: 0;
    }
  }

  @media #{$desktop-width} {
    padding-top: 14px;

    &__wrapper {
      @include content-wrapper-desktop;
    }

    &__header {
      font-size: 50px;
      line-height: 60px;
      width: 500px;
    }

    &__contacts {
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 5px;
    }

    &__contact {
      width: 300px;
      margin-top: 3px;

      &:last-of-type {
        width: 220px;
      }
    }

    &__contact:nth-child(1) {
      order: 1;
    }

    &__contact:nth-child(2) {
      order: 3;
    }

    &__contact:nth-child(3) {
      order: 2;
    }

    &__contact-title {
      margin-bottom: 20px;
    }
  }
}
