.content-description {

  &__wrapper {
    @include content-wrapper-mobile;
  }

  &__text {
    padding: 31px 0 20px 0;
    text-align: center;

    span {
      display: none;
    }
  }

  @media #{$tablet-width} {
    &__wrapper {
      @include content-wrapper-tablet;
    }

    &__text {
      font-size: 18px;
      padding: 74px 60px 17px 60px;

      span {
        display: block;
      }
    }
  }
}
