.page-main {
  position: relative;
  z-index: 0;
}

.logo {
  font-size: 0;
  display: block;
  width: 76px;
  height: 24px;
  background: url(../img/logo-pink-white-mobile.svg) no-repeat;
  background-size: 100% 100%;

  &--blue {
    background: url(../img/logo-pink-blue-mobile.svg) no-repeat;
    background-size: 147px 40px;
    width: 147px;
    height: 40px;
  }

  @media #{$tablet-width} {
    background: url(../img/logo-pink-white-tablet.svg) no-repeat;
    background-size: 147px 40px;
    width: 147px;
    height: 40px;

    &--blue {
      background: url(../img/logo-pink-blue-mobile.svg) no-repeat;
    }
  }

  @media #{$desktop-width} {
    background: url(../img/logo-pink-white-desktop.svg) no-repeat;

    &--blue {
      background: url(../img/logo-pink-blue-desktop.svg) no-repeat;
    }
  }
}

.social-links {
  width: 177px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__btn {
    box-sizing: border-box;
    font-size: 0;
    width: 51px;
    height: 51px;
    border: 3px solid $form-field-color-gray;
    border-radius: 50%;

    &:hover {
      border-color: $page-color-dark-blue;
    }

    &--twitter {
      background: url(../img/icon-twitter.svg) no-repeat 50% 50%;
      background-size: 18px 18px;
    }

    &--facebook {
      background: url(../img/icon-facebook.svg) no-repeat 50% 46%;
      background-size: 10px 18px;
    }

    &--you-tube {
      background: url(../img/icon-youtube.svg) no-repeat 54% 45%;
      background-size: 17px 14px;
    }
  }

  @media #{$tablet-width} {
    padding-top: 15px;
    padding-right: 16px;
  }

  @media #{$desktop-width} {
    padding-top: 21px;
    padding-left: 28px;
  }
}

.button {
  @include reset-button-style;
  @include form-field-font-settings;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  background-color: $button-color;
  width: 100%;
  height: 63px;
  border-radius: 2px;

  &:hover {
    background-color: $button-color-hover;
  }

  &:active {
    color: $button-text-color-active;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: white;
    background-color: $form-field-color-gray;
  }

  @media #{$tablet-width} {
    &--send-form {
      width: 94%;
    }
  }

  @media #{$desktop-width} {
    &--send-form {
      width: 47%;
    }
  }
}



.like-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: $pages-text-color-pink;
  font-size: 0;

  &__label {
    margin-right: 3px;
    font-size: 12px;
  }

  &__count{
    font-size: 12px;
  }

  &__btn {
    @include reset-button-style;
    box-sizing: border-box;
    width: 15px;
    height: 13px;
    background: url(../img/icon-heart.svg) no-repeat 50% 50%;
    background-size: 14px 12px;
    margin-right: 17px;
  }

  @media #{$tablet-width} {
    flex-direction: row-reverse;
    justify-content: space-between;

    &__btn {
      margin-right: 0px;
    }
  }
}

.range-controls {
  display: block;
  position: relative;
  &__scale {

    width: 100%;
    height: 2px;
    background-color: $page-color-dark-blue;
  }

  &__toggle {
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateY(-50%);
    background-color: $pages-color-gray;
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid $pages-text-color-pink;
    border-radius: 50%;
  }
}

.transparent-btn {
  @include reset-button-style;
  @include reset-link-style
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px/27.5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 16px;
  margin-bottom: 10px;

  border: 3px solid $pages-text-color-pink;
  color: $pages-text-color-pink;
  &:hover {
    background-color: $pages-text-color-pink;
    color: white;
  }

  &:active {
    color: #e06989;
  }

  &:focus {
    outline: none;
  }

  &--gray {
    color: $cansel-btn-color-dark-gray;
    border-color: $cansel-btn-color-dark-gray;

    &:hover {
      background-color: $cansel-btn-color-gray;
      color: $cansel-btn-color-darkest-gray;
      border-color: $cansel-btn-color-darkest-gray;
    }

    &:active {
      background-color: $cansel-btn-color-darkest-gray;
      color: $cansel-btn-color-dark-gray;
      border-color: $cansel-btn-color-darkest-gray;
    }
  }

  &--white {
    color: white;
    border-color: white;

    &:hover {
      background-color: white;
      color: $pages-text-color-pink;
    }

    &:active {
      color: #f2ced5;
    }
  }
}


.store-links {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 219px;
  margin: 33px auto 17px auto;

  &__link {
    width: 60px;
    height: 60px;

    &--apple {
      background: url(../img/logo-apple.svg) 50% 50% no-repeat;
      transform: translateY(-3px);
    }

    &--android {
      background: url(../img/logo-android.svg) 50% 50% no-repeat;
    }

    &--microsoft {
      background: url(../img/logo-microsoft.svg) 50% 50% no-repeat;
    }
  }

  @media #{$tablet-width} {
    width: 223px;
    margin: 44px auto 34px auto;

    &__link {
      &--apple {
        transform: translateY(0);
      }
      &--microsoft {
        transform: translate(-3px, 3px);
      }
    }
  }

  @media #{$desktop-width} {
    margin: 66px auto 53px auto;

    &__link {
      &--apple {
        transform: translateX(3px);
      }

      &--microsoft {
        transform: translate(-1px, 4px);
      }

      &--android {
        transform: translate(0, 3px);
      }
    }
  }
}

.map {
  iframe {
    width: 100%;
    height: 100%;
  }

  position: relative;
  height: 200px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 30px;
    background-image:
    linear-gradient(
      to top right,
      transparent 50%,
      white 50%),
    linear-gradient(
      to top left,
      transparent 50%,
      white 50%);

    background-size: 50.1% 100%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
  }

  @media #{$tablet-width} {
    height: 377px;
    &::after {
      height: 70px;
    }
  }

  @media #{$desktop-width} {
    height: 500px;
    &::after {
      height: 105px;
    }
  }
}

.posts-list {

  &__wrapper {
    padding: 0 20px;
  }

  @media #{$tablet-width} {
    &__wrapper {
      @include content-wrapper-tablet;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  @media #{$desktop-width} {
    &__wrapper {
      padding: 0 130px;
    }
  }
}
