.features-list {
  background:
  url(../img/iphone-screen-mobile.png) 50% 109% no-repeat,
  $pages-color-gray url(../img/bg-triangle-white.svg) 100% 0 no-repeat;

  padding: 80px 0 287px 0;

  &__wrapper {
    @include content-wrapper-mobile;
  }

  &__item {
    margin-bottom: 31px;
    text-align: center;
    line-height: 24px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }

  &__text {
    font-size: 14px;

    p {
      padding: 0;
      margin: 12px 0;
    }
  }

  @media #{$tablet-width} {
    text-align: left;
    background:
    url(../img/iphone-screen-tablet-3@1x.png) 40px 110% no-repeat,
    $pages-color-gray url(../img/bg-triangle-white.svg) 100% 0 no-repeat;
    padding-bottom: 0;
    padding-top: 74px;
    padding-bottom: 9px;

    &__wrapper {
      @include content-wrapper-tablet;
      padding-left: 50%;
    }

    &__item {
      text-align: left;
      margin-bottom: 34px;

      &:nth-of-type(2) {
        span {
          display: block;
        }
      }
    }
  }

  @media #{$desktop-width} {
    background:
    $pages-color-gray url(../img/bg-triangle-white.svg) 100% 0 no-repeat;
    padding-top: 0;


    &__wrapper {
      @include content-wrapper-desktop;
      display: flex;
      justify-content: space-between;
    }

    &__item {
      margin-top: -4px;
      position: relative;
      box-sizing: border-box;
      padding: 358px 30px 10px 30px;
      width: 300px;
      text-align: center;

      &:nth-of-type(2) {
        span {
          display: inline-block;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 290px;
        height: 310px;
        background: url(../img/iphone-screen-mobile.png) no-repeat 50% 50px;
      }

      &--first {
        &::after {
          background: url(../img/iphone-screen-desktop-1@1x.png) no-repeat 50% 0;
        }
      }

      &--second {
        &::after {
          background: url(../img/iphone-screen-desktop-2@1x.png) no-repeat 2px 0;
        }
      }

      &--third {
        &::after {
          background: url(../img/iphone-screen-desktop-3@1x.png) no-repeat 2px 0px;
        }
      }
    }

    &__title {
      font-size: 30px;
      line-height: 30px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
      margin-top: 24px;
    }
  }
}

