.filter-block {
  padding: 20px 0;
  border-bottom: 1px solid $pages-color-dark-gray;
  background-color: $pages-color-gray;
  font-size: 0;

  &__wrapper {
    padding: 0 20px;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 40px auto 20px auto;
  }

  &__filter {
    @include reset-button-style;
    box-sizing: border-box;
    width: 50px;
    height: 50px;

    &--filter1 {
      background: transparent url(../img/icon-editor-crop.svg) 50% 50% no-repeat;
    }

    &--filter2 {
      background: transparent url(../img/icon-editor-fill.svg) 50% 50% no-repeat;
    }

    &--filter3 {
      background: transparent url(../img/icon-editor-contrast.svg) 50% 50% no-repeat;
    }
  }
}
