.form {

  &__wrapper {
    @include content-wrapper-mobile;
  }

  &__group-container {
    display: flex;
    flex-direction: column;
  }

  &__group {
    @include reset-fieldset-style;
    padding-bottom: 30px;

    &--grey {
      background-color: $form-group-color-grey;
    }

    &--contact-group {
      .form__label {
        span:last-of-type {
          display: none;
        }
      }
    }
  }

  &__group-title {
    display: block;
    text-transform: uppercase;
    color: $form-label-color-pink;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    box-sizing: border-box;
    padding: 36px 25px;
    margin: 0 auto;
    font-weight: 400;

    &--hidden {
      display: none;
    }
  }

  &__label {
    display: block;
    padding: 0 0 0 23px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: $form-label-color-pink;
  }

  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__field {
    @include reset-form-field-style;
    @include form-field-font-settings;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid $form-field-color-gray;
    border-radius: 2px;
    margin: 0;
    padding: 14px 21px 15px 21px;

    &:hover {
      border-color: $page-color-dark-blue;
    }

    &:focus {
      outline: none;
      border-color: $pages-text-color-pink;
    }

    &:active {
      border-color: $pages-text-color-pink;
    }
  }

  &__send-container {
    display: flex;
    flex-direction: column;
  }

  &__hint {
    display: block;
    padding: 37px 20px 10px 20px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    span {
      display: none;
    }

    &:before {
      content: '*';
      color: $form-label-color-pink;
    }
  }

  &__entry-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &--switch {
      margin-bottom: 37px;

      .form__label {
        @include form-field-font-settings;
        position: relative;
        padding: 5px 0 5px 69px;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          box-sizing: border-box;
          border: 2px solid $form-field-color-gray;
          background-color: #fff;
          width: 39px;
          height: 39px;
          border-radius: 3px;
        }

        &::after {
          content: '';
          position: absolute;
          left: 10px;
          top: 11px;
          width: 30px;
          height: 30px;
          background: url('../img/icon-yes-pink.svg') no-repeat;
          display: none;
        }

        &:hover {
           &::before{
            border-color: $page-color-dark-blue;
           }
        }

        &:active {
          &::before{
            border-color: $pages-text-color-pink;
          }
        }
      }

      .form__field {
        display: none;
        &:checked + .form__label::after{
          display: block;
        }
      }
    }

    &--radio {
      margin-bottom: 29px;

      .form__label:before {
        border-radius: 50%;
      }

      .form__label:after {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        left: 12px;
        top: 12px;
        background: $form-label-color-pink;
      }
    }

    &--textarea {
      .form__field {
        overflow: hidden;
        resize: none;
        height: 200px;
        padding: 14px 18px 15px 18px;
      }
    }
  }

  &__group--achievements-group {
    padding-bottom: 9px;
  }

  &__group--contact-group {
    padding-top: 29px;
    padding-bottom: 38px;
  }

  &__group--version-group {
    padding-bottom: 8px
  }

  &__group--emotions-group {
    .form__group-title {
      padding: 57px 25px 17px 25px;
    }
  }

  @media #{$tablet-width} {
    padding-bottom: 43px;

    &__wrapper {
      @include content-wrapper-tablet;
    }

    &__group-title {

      &--hidden {
        display: block;
      }
    }

    &__group {
      &--border {
        background-color: white;

        .form__border-wrapper {
          display: block;
          position: relative;
          border: 2px solid $pages-color-dark-gray;
          padding: 50px 58px 0 58px;
        }

        .form__group-title {
          position: relative;
          display: inline-block;
          vertical-align: top;
          background-color: white;
          margin: 0 auto;
          padding: 0 25px;
          z-index: 1;
          font-weight: 400;
        }

        .form__title-wrapper {
          display: block;
          text-align: center;
          position: absolute;
          top: -12px;
          left: 0;
          right: 0;
          background-color: white;

          &:after {
            content: '';
            display: block;
            position: relative;
            top: -22px;
            height: 2px;
            background-color: $pages-color-dark-gray;
            z-index: 0;
          }
        }
      }

      &--name-group {
        order: 0;
        padding-bottom: 52px;

        .form__label {
          padding: 0 20px 0 0;
        }

        .form__entry-field {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: baseline;
          margin-top: 36px;
        }
      }

      &--achievements-group {
        order: 3;
        padding-bottom: 67px;

        .form__label {
          padding-left: 60px;
        }

        .form__fields {
          padding-bottom: 5px;
        }
      }

      &--version-group {
        padding-bottom: 38px;
        order: 1;

        .form__label {
          padding: 4px 0 4px 60px;
          margin: 0;
        }

        .form__entry-field {
          margin-bottom: 37px;
        }

        .form__fields {
          padding-bottom: 18px;
        }
      }

      &--emotions-group {
        order: 4;

        .form__border-wrapper {
          padding-top: 43px;
          padding-bottom: 35px;
        }

        .form__entry-field--textarea {
          .form__field {
            height: 193px;
          }
        }
      }

      &--contact-group {
        order: 2;
        padding-bottom: 67px;

        .form__border-wrapper {
          padding-top: 38px;
        }

        .form__label {
          margin-top: 10px;
          padding-left: 20px;

          span:first-of-type {
            display: none;
          }

          span:last-of-type {
            display: inline-block;
            vertical-align: top;
          }

          &::after {
            content: '';
            position: absolute;
            width: 19px;
            height: 19px;
            top: 22px;
            right: 23px;
            background-repeat: no-repeat;
          }
        }

        .form__entry-field {
          position: relative;
          display: flex;
          flex-direction: column-reverse;
          margin-top: 5px;
          margin-bottom: 20px;

          &--phone {
            .form__label::after {
              background-image: url(../img/icon-phone.svg);
            }
          }

          &--mail {
            .form__label::after {
              right: 22px;
              top: 24px;
              background-image: url(../img/icon-mail.svg);
            }
          }
        }

        .form__field {
          margin-bottom: 0;
          padding-right: 60px;
        }
      }
    }

    &__send-container {
      padding-top: 37px;
      flex-direction: row;
      align-items: baseline;
    }

    &__hint {
      text-align: right;
      padding: 0;
    }
  }

  @media #{$desktop-width} {
    padding-bottom: 26px;

    &__wrapper {
      @include content-wrapper-desktop;
    }

    &__group-container {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__send-container {
      padding-top: 35px;
    }

    &__hint {
      span:last-of-type {
        display: inline-block;
        vertical-align: top;
      }
    }

    &__group {
      width: 100%;

      &--name-group {
        margin-top: 14px;
        padding-bottom: 0;
        width: 50%;

        .form__wrapper {
          padding-right: 35px;
        }
      }

      &--version-group {
        margin-top: 45px;
        padding-bottom: 0;
        width: 50%;

        .form__wrapper {
          padding-left: 35px;
        }

        .form__border-wrapper {
          padding: 53px 74px 0 74px;
        }
      }

      &--contact-group {
        margin-top: 23px;
        .form__fields {
          flex-direction: row;
          justify-content: space-between;
        }

        .form__entry-field {
          width: 375px;
          margin-bottom: 8px;
        }

        .form__border-wrapper {
          padding: 35px 58px 0 58px;
        }
      }

      &--emotions-group {
        .form__border-wrapper {
          padding: 40px 58px 27px 58px;
        }

        .form__entry-field--textarea {
          .form__field {
            height: 128px;
          }
        }
      }

      &--achievements-group {

        .form__fields {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        .form__entry-field {
          width: 260px;
        }

        .form__border-wrapper {
          padding: 50px 0 7px 58px;
        }

        .form__entry-field:nth-child(3n+2) {
          padding-left: 10px;
        }

        .form__entry-field:nth-child(n+7) {
          order: 7;
        }

        .form__entry-field:nth-child(1) {
          order: 1;
        }

        .form__entry-field:nth-child(2) {
          order:5;
          padding-left: 0;
        }

        .form__entry-field:nth-child(3) {
          order: 2;
          padding-left: 10px;
        }

        .form__entry-field:nth-child(4) {
          order: 5;
          padding-left: 10px;
        }

        .form__entry-field:nth-child(5) {
          order: 3;
          padding-left: 0;
        }

        .form__entry-field:nth-child(6) {
          order: 6;
        }
      }
    }
  }
}
