.like-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: $pages-text-color-pink;
  font-size: 0;

  &__label {
    margin-right: 3px;
    font-size: 12px;
  }

  &__count{
    font-size: 12px;
  }

  &__btn {
    @include reset-button-style;
    box-sizing: border-box;
    width: 15px;
    height: 13px;
    background: url(../img/icon-heart.svg) no-repeat 50% 50%;
    background-size: 14px 12px;
    margin-right: 17px;
  }

  @media #{$tablet-width} {
    flex-direction: row-reverse;
    justify-content: space-between;

    &__btn {
      margin-right: 0px;
    }
  }
}
