.main-nav {

  &__list {
    @include reset-list-style;
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
  }

  &__link {
    display: block;
    @include reset-link-style;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;

    &:hover {
      color: $pages-text-color-pink;
    }

    &:active {
      color: transparentize($pages-text-color-pink, 0.7);
    }
  }

  @media #{$desktop-width} {
    display: block;
    width: 621px;

    &__list {
      flex-direction: row;
      justify-content: space-between;
    }

    &__item {
      border: none;
    }

    &__link {
      position: relative;
      padding: 14px 0;
      line-height: 18px;
      font-weight: 400;
      text-transform: none;
      text-align: left;

      &::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: white;
        bottom: 0;
        left: 2px;
        right: 0;
        display: none;
      }

      &:hover {
        color: white;

        &::after {
          display: block;
        }
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);

        &::after {
          display: none;
        }
      }
    }
  }
}
