.page-header {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-bottom: -66px;

  &__wrapper {
    padding: 21px 20px;
    display: flex;
    justify-content: space-between;
  }

  &__toggle-menu {
    @include reset-button-style;
    font-size: 0;
    width: 50px;
    height: 24px;
    background: url(../img/icon-menu-burger.svg) no-repeat 100% 0%;
  }

  .main-nav {
    display: none;
  }

  &--open {
    background-color: $pages-text-color;
    margin-bottom: -326px;

    .page-header__wrapper {
      padding-bottom: 24px;
      border-bottom: 1px solid black;
    }

    .main-nav {
      display: block;
    }

    .page-header__toggle-menu {
      background: url(../img/icon-menu-cross.svg) no-repeat 100% 0%;
    }
  }

  @media #{$tablet-width} {
    margin-bottom: -110px;

    &__wrapper {
      padding: 27px 40px 42px 40px;
    }

    &__toggle-menu {
      margin-top: 17px;
    }

    &--open {
      margin-bottom: -365px;
      .page-header__wrapper {
        padding-bottom: 41px;
      }
    }
  }

  @media #{$desktop-width} {
    padding: 20px 130px;

    box-sizing: border-box;
    min-height: 110px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-header__wrapper {
      padding: 0;
      border: none;
    }

    .main-nav {
      display: block;
    }

    .logo {
      padding-bottom: 17px;
    }

    &__toggle-menu {
      display: none;
    }

    &--open {
      background-color: rgba(0, 0, 0, 0.3);
      margin-bottom: -110px;
    }
  }
}




