.page-header {
  background-color: $pages-text-color;

  &__wrapper {
    padding: 22px 20px;
    display: flex;
    justify-content: space-between;
  }

  &__toggle-menu {
    @include reset-button-style;
    font-size: 0;
    width: 100px;
    height: 24px;
    background: url(../img/icon-menu-burger.svg) no-repeat 100% 0%;
  }
}




