.page-footer {

  &__wrapper {
    @include content-wrapper-mobile;
  }

  &__container {
    padding: 45px 0;
    min-height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright-link {
    @include reset-link-style;
    display: block;
    text-align: left;
    color: $pages-text-color;
    padding-right: 40px;
    width: 90px;
    min-height: 34px;
    background: url(../img/logo-htmlacademy.svg) no-repeat 100% 0;
    background-size: 27px 34px;

    span {
      display: none;
    }
  }

  @media #{$mobile-width-only} {
    &--index {
      display: none;
    }
  }

  @media #{$tablet-width} {
    padding-bottom: 10px;

    &__wrapper {
      @include content-wrapper-tablet;
    }

    &__container {
      padding: 0;
      min-height: 125px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__copyright-link {
      margin-top: 22px;
      padding-right: 38px;
    }
  }

  @media #{$desktop-width} {
    &__wrapper {
      padding: 0 130px;
    }
  }
}
