.page-footer {
  &__wrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__copyright{
    margin: 20px 0;
  }

  &__copyright-link {
    @include reset-link-style;
    position: relative;
    display: block;
    text-align: left;
    color: $pages-text-color;
    padding-right: 40px;
    width: 90px;
    min-height: 40px;
    background: url(../img/logo-htmlacademy.svg) no-repeat 100% 0;

    span {
      display: none;
    }
  }

  &__header {
    font-size: 24px;
  }

  &__contacts {
    text-align: center;
  }

  &__contact {
    padding-bottom: 30px;
  }

  &__contact-title {
    display: block;
    font-size: 18px;
    font-weight: 700;
  }

  &__contact-address {
    display: block;
    @include reset-link-style;
    font-size: 24px;
    color: $form-label-color-pink;
  }

  @media #{$tablet-width} {

    &__wrapper {
       @include content-wrapper-tablet;
       flex-direction: row;
       justify-content: space-between;
    }
  }
}
