.photo-post {
  margin-bottom: 20px;

  &__content {
    background-color: $pages-color-gray;
    padding: 17px 17px 16px 17px;
    display: flex;
    flex-direction: column;
  }

  &__image-link {
    position: relative;
    @include reset-link-style;
    display: block;
    background-color: #000;
  }

  &__image {
    width: 280px;
    height: 180px;
  }

  &__title {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }

  &__author-name {
    font-weight: 700;
  }

  &__publication-time {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
  }

  &__post-text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    p {
      margin: 0;
    }
  }

  &--panorama {
    .photo-post__wrapper {
      @include content-wrapper-mobile;
    }

    .photo-post__image {
      width: 320px;
      height: 137px;
    }
  }

  &__panorama-label {
    position: absolute;
    left: 160px;
    top: 0;
    display: block;
    box-sizing: border-box;
    width: 140px;
    height: 36px;
    padding: 6px;
    text-align: center;
    background-color: $pages-text-color-pink;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }

  @media #{$tablet-width} {
    width: 300px;
    box-sizing: border-box;
    min-height: 300px;

    &--panorama {
      width: 100%;
      background-color: white;
      padding-bottom: 0;

      .photo-post__wrapper {
        @include content-wrapper-tablet;
      }

      .like-field {
        top: 0;
        right: 0;
      }

      .photo-post__content {
        position: relative;
        //@include content-wrapper-tablet;
        background-color: $pages-color-gray;
      }
    }

    @media #{$desktop-width} {
      &--panorama {
        .photo-post__wrapper {
          padding: 0 130px;
        }
      }
    }
  }
}
