.photo-post {

  margin-bottom: 20px;
  line-height: 24px;

  &__wrapper {
    padding: 0 20px;
  }

  &__image-link {
    @include reset-link-style;
    display: block;
    position: relative;
  }

  &__content {
    padding: 13px;
    background-color: $pages-color-gray;
  }

  &__title {
    padding: 0;
    margin: 0;
    @include pages-font-settings;
    line-height: 24px;
  }

  &__author-name {
    font-weight: 700;
  }

  &__publication-time {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__post-text p {
    padding: 0;
    margin: 10px 0;
  }

  &__panorama-label {
    position: absolute;
    left: 160px;
    top: 0;
    display: block;
    box-sizing: border-box;
    width: 140px;
    height: 36px;
    padding: 6px;
    text-align: center;
    background-color: $pages-text-color-pink;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }
}
