.photo-post {
  margin-bottom: 20px;

  &__content {
    background-color: $pages-color-gray;
    padding: 17px 17px 16px 17px;
    display: flex;
    flex-direction: column;
  }

  &__image-link {
    position: relative;
    @include reset-link-style;
    display: block;
    background-color: #000;
  }

  &__image {
    width: 280px;
    height: 180px;
  }

  &__title {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }

  &__author-name {
    font-weight: 700;
  }

  &__publication-time {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
  }

  &__post-text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    p {
      margin: 0;
    }
  }

  &--panorama {
    .photo-post__wrapper {
      @include content-wrapper-mobile;
    }

    .photo-post__image {
      width: 320px;
      height: 137px;
    }

    .photo-post__panorama-label {
      position: absolute;
      left: 160px;
      top: 0;
      display: block;
      box-sizing: border-box;
      width: 140px;
      height: 36px;
      padding: 6px;
      text-align: center;
      background-color: $pages-text-color-pink;
      color: #fff;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  @media #{$tablet-width} {
    box-sizing: border-box;
    width: 300px;

    &__image {
      width: 300px;
      height: 300px;
    }

    &__content {
      box-sizing: border-box;
      padding: 24px 31px 18px 28px;
      height: 155px;
      justify-content: space-between;
    }

    &--panorama {
      width: 100%;
      margin-bottom: 50px;

      .photo-post__wrapper {
        @include content-wrapper-tablet;
      }

      .photo-post__image {
        width: 700px;
        height: 509px;
      }

      .photo-post__panorama-label {
        left: 520px;
        top: 57px;
      }

      .like-field {
        width: 119px;
        order: 2;
      }

      .photo-post__title {
        width: 200px;
        order: 1;
      }

      .photo-post__post-text {
        order: 3;
        margin-top: -4px;
      }

      .photo-post__content {
        height: 121px;
        padding: 24px 28px 15px 28px;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  @media #{$desktop-width} {
    margin-bottom: 54px;

    &__image {
      width: 300px;
      height: 400px;
    }

    &--panorama {
      margin-bottom: 49px;

      .photo-post__wrapper {
        @include content-wrapper-desktop;
      }

      .photo-post__content {
        height: auto;
        padding-right: 31px;
      }

      .photo-post__image {
        width: 1200px;
        height: 506px;
      }

      .photo-post__panorama-label {
        left: 931px;
        top: 54px;
      }
    }
  }
}
