.post-photo {

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__left-container {
    padding: 20px 20px 0 20px;
    background-color: $pages-color-gray;
  }

  &__right-container {
    display: flex;
    flex-direction: column;
    background-color: $pages-color-gray;
  }

  &__title {
    @include pages-font-settings;
    background-color: white;
    margin: 0;
    text-align: center;
    padding: 23px 0 42px 0;
  }

  &__image {
    width: 280px;
    height: 374px;
  }

  &__filter {
    display: flex;
    flex-direction: column;
  }

  &__filter-buttons {
    font-size: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 209px;
    margin: 40px auto 15px auto;
  }

  &__filter-button-icon {
    fill: #b5b9be;

    &--fill {
      margin-top: 1px;
    }

    &--contrast {
      margin-top: 6px;
    }
  }

  &__filter-button {
    @include reset-button-style;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    outline: none;

    &:hover {
      .post-photo__filter-button-icon {
        fill: #8d949b;
      }
    }

    &--active {
      .post-photo__filter-button-icon {
        fill: $pages-text-color-pink;
      }
    }

    &--active:hover  {
      .post-photo__filter-button-icon {
        fill: $pages-text-color-pink;
      }
    }
  }

  &__filter-controller {
    padding: 20px 40px 34px 40px;
    border-bottom: 1px solid $cansel-btn-color-dark-gray;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    padding: 38px 20px 31px 20px;
  }

  @media #{$mobile-width-only} {
    background-color: $pages-color-gray;
    &__filter-controller {
      &:not(.post-photo__filter-controller--active) {
        display: none;
      }
    }
  }

  @media #{$tablet-width} {
    margin-top: 23px;

    &__wrapper {
      @include content-wrapper-tablet;
      flex-direction: row;
      padding-top: 57px;
      padding-bottom: 54px;
      background-color: $pages-color-gray;
    }

    &__title {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 26px;
    }

    &__left-container {
      padding: 0 10px 0 0;
      box-sizing: border-box;
      width: 50%;
    }

    &__right-container {
      justify-content: space-between;
      box-sizing: border-box;
      width: 50%;
      padding-left: 35px;
    }

    &__image {
      width: 300px;
      height: 400px;
    }

    &__filter {
      flex-direction: row;
    }

    &__filter-controllers {
      z-index: 0;
      width: 275px;
    }

    &__filter-controller {
      padding: 19px 18px 34px 54px;
      margin-bottom: 16px;

      &--first {
        .range-controls {
          &__toggle {
            left: 73%;
          }
        }
      }

      &--second {
        .range-controls {
          &__toggle {
            left: 12.5%;
          }
        }
      }

      &--third {
        .range-controls {
          &__toggle {
            left: 48%;
          }
        }
      }
    }

    &__filter-buttons {
      margin: 0;
      padding: 0;
      width: 50px;
      margin-right: -49px;
      flex-direction: column;
      justify-content: flex-start;
      z-index: 1;
    }

    &__filter-button-icon {
      display: inline-block;
      vertical-align: baseline;
      fill: $pages-text-color-pink;

      &--crop {
        margin-top: 11px;
        margin-left: 2px;
        width: 24px;
        height: 24px;
      }

      &--fill {
        margin-top: 15px;
        margin-left: 2px;
        width: 26px;
        height: 24px;
      }

      &--contrast {
        margin-top: 9px;
        margin-left: 8px;
        width: 16px;
        height: 16px;
      }
    }

    &__filter-button {
      width: 50px;
      height: 50px;
      margin-top: -4px;
      margin-bottom: 26px;
      text-align: left;

      &:hover {
        .post-photo__filter-button-icon {
          fill: $pages-text-color-pink;
        }
      }
    }

    &__buttons {
      padding: 0;
      min-height: 134px;
      justify-content: space-between;
      padding: 0 13px 0 2px;
    }

    .transparent-btn {
      margin: 0;
    }

  }

  @media #{$desktop-width} {
    margin-top: 5px;
    margin-bottom: 61px;

    &__wrapper {
      @include content-wrapper-desktop;
      background-color: white;
    }

    &__title {
      padding: 0;
      margin-bottom: 66px;
    }

    &__left-container {
      padding: 57px 0 57px 80px;
    }

    &__right-container {
      padding-left: 0;
      padding-right: 60px;
      padding-top: 57px;
      padding-bottom: 57px;
    }

    &__buttons {
      flex-direction: row;
      min-height: auto;
      padding: 0;

      .transparent-btn {
        box-sizing: border-box;
        width: 182px;
      }
    }

    &__filter-controllers {
      width: 100%;
    }

    &__filter-controller {
      padding: 19px 30px 34px 91px;

      &--first {
        .range-controls {
          &__toggle {
            left: 24.75%;
          }
        }
      }

      &--second {
        .range-controls {
          &__toggle {
            left: 86%;
          }
        }
      }

      &--third {
        .range-controls {
          &__toggle {
            left: 55.75%;
          }
        }
      }
    }

    &__filter-button-icon {

      &--crop {
        margin-top: 1px;
        margin-left: -1px;
        width: 48px;
        height: 48px;
      }

      &--fill {
        margin-top: 6px;
        margin-left: -2px;
        width: 52px;
        height: 47px;
      }

      &--contrast {
        margin-top: 12px;
        margin-left: 6px;
        width: 33px;
        height: 33px;
      }
    }

    &__filter-button {
      width: 60px;
      height: 60px;
      margin-top: -4px;
      margin-bottom: 13px;
    }
  }
}
