.post-form {

  &__wrapper {
    padding: 0 20px;
  }

  &__title {
    @include pages-font-settings;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 20px 0 40px 0;
  }

  &__buttons {
    padding: 40px 0 30px 0;
    background-color: $pages-color-gray;
  }

  &__btn {
    @include reset-button-style;
    display: block;
    width: 100%;
    border: 3px solid $pages-text-color-pink;
    color: $pages-text-color-pink;
    border-radius: 25px/27.5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 10px;

    &:hover {
      background-color: $pages-text-color-pink;
      color: white;
    }

    &:active {
      color: #e06989;
    }

    &:focus {
      outline: none;
    }

    &--cansel {
      color: $cansel-btn-color-dark-gray;
      border-color: $cansel-btn-color-dark-gray;

      &:hover {
        background-color: $cansel-btn-color-gray;
        color: $cansel-btn-color-darkest-gray;
        border-color: $cansel-btn-color-darkest-gray;
      }

      &:active {
        background-color: $cansel-btn-color-darkest-gray;
        color: $cansel-btn-color-dark-gray;
        border-color: $cansel-btn-color-darkest-gray;
      }
    }


  }


}
