.range-controls {
  display: block;
  position: relative;

  &__scale {
    width: 100%;
    height: 2px;
    background-color: $page-color-dark-blue;
  }

  &__toggle {
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateY(-50%);
    background-color: $pages-color-gray;
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid $pages-text-color-pink;
    border-radius: 50%;
    cursor: pointer;

    &:active {
      background-color: $pages-text-color-pink;
    }
  }
}
