.slider {
  padding-top: 42px;
  padding-bottom: 42px;

  &__wrapper {
    @include content-wrapper-mobile;
  }

  &__switcher {
    display: flex;
    justify-content: space-between;
    width: 62px;
    height: 12px;
    margin: 0 auto;
  }

  &__switcher-label {
    display: block;
    position: relative;
    width: 12px;
    height: 12px;

    &:before,
    &:after {
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      background-color: $page-color-dark-blue;
      border-radius: 50%;
    }

    &:before {
      display: none;
    }

    &:after {
      width: 6px;
      height: 6px;
      background-color: $cansel-btn-color-darkest-gray;
    }
  }

  &__toggle {
    display: none;
  }

  &__switcher-input {
    display: none;

    &--first:checked {
      & ~ .slider__switcher .slider__switcher-label--first {
        &::before {
          display: block;
        }

        &::after {
          background-color: white;
        }
      }

      & ~ .slider__slide:nth-of-type(1) {
        display: block;
      }
    }

    &--second:checked {
      & ~ .slider__switcher .slider__switcher-label--second {
        &::before {
          display: block;
        }

        &::after {
          background-color: white;
        }
      }

      & ~ .slider__slide:nth-of-type(2) {
        display: block;
      }
    }

    &--third:checked {
      & ~ .slider__switcher .slider__switcher-label--third {
        &::before {
          display: block;
        }

        &::after {
          background-color: white;
        }
      }

      & ~ .slider__slide:nth-of-type(3) {
        display: block;
      }
    }
  }

  &--comment-slider {
    .slider__slide {
      display: none;
    }

    .slider__switcher-input {
      &--first:checked {
        & ~ .slider__slide:nth-of-type(1) {
          display: block;
        }
      }

      &--second:checked {
        & ~ .slider__slide:nth-of-type(2) {
          display: block;
        }
      }

      &--third:checked {

        & ~ .slider__slide:nth-of-type(3) {
          display: block;
        }
      }
    }
  }

  &--table-slider {
    background-color: $pages-color-gray;
    background-image:
    linear-gradient(
      to top left,
      transparent 50%,
      white 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 1200px 92px;
  }

  @media #{$mobile-width-only} {
    &--table-slider {
      .slider__slides {
        padding-top: 370px;
        padding-bottom: 5px;
        position: relative;
      }

      .slider__slide {
        position: absolute;
        top: 49px;
        left: 0;
      }

      .slider__switcher-input {
        &--second:checked {
          & ~ .slider__slide {
            left: -280px;
          }
        }

        &--first:checked {
          & ~ .slider__slide {
            left: 0;
          }
        }

        &--third:checked {
          & ~ .slider__slide {
            left: -560px;
          }
        }
      }
    }
  }

  @media #{$tablet-width} {
    padding-bottom: 20px;

    &__wrapper {
      @include content-wrapper-tablet;
    }

    &--table-slider {
      padding-top: 89px;
      padding-bottom: 68px;
      background-size: 1200px 90px;

      .slider__switcher {
        display: none;
      }
    }
  }

  @media #{$desktop-width} {
    &__wrapper {
        @include content-wrapper-desktop;
    }

    &--table-slider {
      padding-top: 148px;
      padding-bottom: 95px;
      background-size: 1200px 80px;
    }

    &--comment-slider {
      padding-top: 60px;

      .slider__wrapper {
        @include content-wrapper-desktop;
      }

      .slider__slides {
        position: relative;
        padding: 0 120px;
      }

      .slider__switcher {
        display: none;
      }

      .slider__toggle {
        display: block;
        @include reset-button-style;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateY(6px);
        height: 100%;
        width: 80px;
        font-size: 0;
        outline: none;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          width: 29px;
          height: 29px;
          transform-origin: 50% 50%;
          border: 2px solid #bec2c7;
        }

        &--prev {
          left: 0;

          &::before {
            left: 0;
            transform: translate(5px, -50%) rotate(-45deg);
            border-bottom: none;
            border-right: none;
          }
        }

        &--next {
          right: 0;

          &::before {
            right: 0;
            transform: translate(-5px, -50%) rotate(-45deg);
            border-left: none;
            border-top: none;
          }
        }
      }
    }
  }
}
