.versions-table {
  border-collapse: separate;
  border-spacing: 0;

  &__header-cell {
    padding: 16px;
    box-sizing: border-box;
    min-width: 280px;
    color: white;
    background-color: $page-color-dark-blue;
    border: none;
    border-left: 2px solid $pages-color-dark-gray;


    span:first-child {
      display: block;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 1px;
      text-transform: uppercase;
    }

    span:last-child {
      display: block;
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
    }

    &--marker {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        left: -2px;
        background-image: linear-gradient(to bottom right, transparent 15%,
                      $form-label-color-pink 16%, $form-label-color-pink 35%, transparent 36%, transparent 100%);
        z-index: 1;
      }

      &::before {
        content: 'ХИТ';
        font-weight: 400;
        color: white;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        left: 0;
        z-index: 2;
        transform: rotate(-45deg) translateY(-2px) translateX(-2px);
      }
    }
  }

  &__data-cell {
    position: relative;
    padding: 15px 22px 14px 22px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    box-sizing: border-box;
    min-width: 280px;
    background-color: white;
    border: 2px solid $pages-color-dark-gray;
    border-top: none;
    border-right: none;

    span:last-of-type {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 13px;
      background: url(../img/icon-yes.svg) no-repeat 50% 50%;
      background-size: 34px 24px;
    }

    &--no {
      &::after {
        background: url(../img/icon-no.svg) no-repeat 50% 50%;
        background-size: 26px 26px;
      }
    }
  }

  @media #{$mobile-width-only} {
    &__header-cell {
      &:first-of-type {
        display: none;
      }
    }

    &__data-cell {
      &:first-of-type {
        display: none;
      }
    }
  }

  @media #{$tablet-width} {
    border: none;

    &__header-cell {
      min-width: 155px;
      padding: 15px 14px 6px 14px;

      &--first {
        background-color: transparent;
        border-left: none;
        border-bottom: 2px solid $pages-color-dark-gray;
      }

      span:first-child {
        font-size: 16px;
        line-height: 26px;
      }

      span:last-child {
        font-size: 18px;
        line-height: 26px;
      }

      &--marker {
        &::after {
          left: 0;
          background-image: linear-gradient(to bottom right, transparent 10%,
                        $form-label-color-pink 11%, $form-label-color-pink 30%, transparent 31%, transparent 100%);
        }

        &::before {
          transform: rotate(-45deg) translateY(-8px) translateX(2px);
        }
      }
    }

    &__data-cell {
      min-width: 155px;
      text-transform: none;
      font-size: 14px;
      line-height: 30px;
      padding: 7px 16px 8px 16px;

      &:last-of-type {
         border-right: 2px solid $pages-color-dark-gray;
      }

      span:first-of-type {
        display: none;
      }

      &--first {
        span:first-of-type {
          display: inline-block;
        }

        &::after {
          display: none;
        }
      }

      &::after {
        top: 0;
        right: 50%;
        transform: translate(50%, 0);
      }
    }
  }

  @media #{$desktop-width} {
    &__header-cell {
      min-width: 235px;
      padding: 16px 14px 14px 14px;

      span:first-child {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 2px;
      }

      span:last-child {
        font-size: 24px;
        line-height: 30px;
      }

      &--marker {
        &::after {
          background-image: linear-gradient(to bottom right, transparent 15%,
                        $form-label-color-pink 16%, $form-label-color-pink 36%, transparent 37%, transparent 100%);
        }

        &::before {
          transform: rotate(-45deg) translateY(0) translateX(-1px);
        }
      }
    }

    &__data-cell {
      min-width: 235px;
      font-size: 18px;
      line-height: 30px;
      padding: 14px 22px 15px 22px;

      &::after {
        top: 12px;
      }
    }
  }
}
