.versions-table {
  position: absolute;
  left: 25px;
  top: 80px;
  text-transform: uppercase;

  &__header-cell {
    color: white;
    padding: 15px 80px;
    background-color: $page-color-dark-blue;

    span:first-child {
      display: block;
      font-size: 18px;
    }

    span:last-child {
      display: block;
      font-size: 24px;
    }
  }

  &__data-cell {
    background-color: white;
    border: 2px solid $pages-color-dark-gray;
    padding: 15px 20px;

    &:nth-child(2) {
      display: none;
    }
  }
}
